@import "../../root.scss";

.form-container {
  margin-top: 80px;
  box-sizing: border-box;
  width: 30%;
  height: 60vh;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;

  input {
    color: white;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(114, 114, 114);
  }

  label {
    display: inline-block;
    color: $light;
    width: 300px;
    margin-top: 20px;
  }

  .register-container {
    height: 50%;
    padding: 20px;
  }

  .login-container {
    height: 50%;
    padding: 20px;
  }

  .btn {
    background-color: $primery_2;
    color: $primery_1;
    margin-top: 30px;
    height: 30px;
  }

  p {
    color: $secondery_3;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .form-container {
    width: 80%;
    height: 85vh;
    border: none;
  }
}
