@import "../../root.scss";

.home-container {
  overflow: hidden;
  header {
    background: linear-gradient(
        rgba(238, 234, 224, 0.7),
        rgba(224, 204, 160, 0.7)
      ),
      url("../../Images/mainImg.jpg") center/cover no-repeat;
    width: 100%;
    height: 35vh;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      font-size: $xl4;
    }

    p {
      font-size: $xl2;
    }
  }

  .bottom-container {
    display: flex;
    width: 100%;
    height: auto;

    .recipes-container {
      display: grid;
      height: 50vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 53% 53%;

      flex: 4;
    }

    .left {
      flex: 1;
      height: 53vh;

      h1 {
        color: white;
        font-size: $xl2;
        margin-bottom: $basic-margin;
      }

      li {
        color: white;
        font-size: $m;
        list-style: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    #title {
      font-size: $xl2;
    }
    header {
      p {
        font-size: $m;
      }
    }

    .bottom-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .left {
        height: 20vh;

        h1 {
          font-size: $xl;
          padding: 0;
          //background-color: aqua;
        }
        ul {
          //background-color: aqua;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: $gap-s;
        }
      }
    }

    .recipes-container {
      display: grid;
      height: 50vh;
      grid-template-columns: 1fr;
      grid-template-rows: 53% 53%;

      //flex: 4;
    }
  }
}
