@import "../../root.scss";

.add-container {
  background-color: rgb(110, 110, 110);
  min-height: 100vh;
  margin-top: 80px;
  padding: 5% 15%;

  #add-item-container {
    display: flex;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
  }
  button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid $dark;
    margin-bottom: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $basic-gap;

    div {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      textarea {
        resize: none;
        width: 100%;
        height: 150px;

        background-color: rgb(182, 182, 182);
        outline: none;
        border: none;
        color: $light;
        border-bottom: 1px solid rgb(75, 75, 75);
      }

      input {
        background-color: transparent;
        //height: 40px;
        padding-top: 10px;

        outline: none;
        border: none;
        color: $light;
        border-bottom: 1px solid rgb(75, 75, 75);

        &::placeholder {
          color: rgb(216, 216, 216);
        }
      }

      label {
        width: 300px;
        margin: 0;
        margin-bottom: $margin-s;
        margin-left: $margin-s;
      }
    }
  }
}

fieldset {
  border: 0;
}
