@import "../../root.scss";

.add-item-container {
  //background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  position: relative;

  p {
    width: 200px;
    //background-color: aqua;
  }

  button {
    position: absolute;
    right: 0;
  }
}
