@import "../../root.scss";

.navbar {
  display: flex;
  width: 83.3%;
  height: 60px;
  border-bottom: 1px solid $secondery_3;
  align-items: center;
  gap: $basic-gap;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  //padding: 0 $basic-padding;
  z-index: 3;
  background-color: $primery_1;

  background-color: none;

  .nav-title {
    margin-right: auto;
    color: white;
  }

  .active {
    color: $secondery_3;
  }

  .no-active {
    color: rgb(0, 0, 0);
    color: white;
  }

  p {
    color: white;
    margin-right: 60%;
  }
}
